.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}

.grid-item {
    border: 1px solid black;
    padding: 10px;
    text-align: start
}

#cBox {
    width: 122px;
    height: 66px;
    border: 1px solid black;
}

